/* Paste Google fonts here*/

@import url('https://fonts.googleapis.com/css?family=Montserrat|Rubik');

  body {
    background: #e0e0e0;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #333;
    line-height: 1.7em;
    display: block;
    padding: 0;
    margin: 0;
    }

   /* Nav Bar */
   .navbar {
     background-color: #212121;
     }

   a .nav-brand .ml-4:hover {
     color: red;
     }

    .navbar-toggler-icon {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,0,0, 1.0)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    }

  .nav-link {
    font-size: 1.2em;
    margin: 18px;
    color: white !important;
    font-family: 'Rubik', sans-serif;
    }

  .nav-link:hover {
    color: red !important;
    transition: all 300ms ease-in;
    }

  .active .nav-link {
    color: red !important;
    }

 .dropdown-item:hover {
   background-color: #212121;
   color: white;
   }

 /* Intro Section - Jumbotron */

 .round-img {
   border-radius: 50%;
   max-width: 200px;
   height: auto;
   display: block;
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 50px;
   }

.box-shape {
  z-index: -1;
  top: 150px;
  width: 200px;
  height: 200px;
  background-color: #212121;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  display: block;
  }

 .display-4 {
   font-family: Rubik;
   text-align: center;
   }

  .lead {
    font-size: 18px;
    }

   .resume-btn {
     background-color: #212121;
     text-decoration: none;
     padding: 10px 25px 10px 25px;
     border-radius: 5px;
     color: white;
     margin-top: 20px;
     }

   .resume-btn:hover {
     color: red;
     transition: all 300ms ease-in;
     }

  /* Footer */

  #footer {
    display: block;
    background-color: #484848;
    color: white;
    font-size: 14px;
    }

  .social-icons {
    margin-bottom: 15px;
    }

  .social-icons a {
    text-decoration: none;
    color: inherit;
    }

  .social-icons a:hover {
    color: red;
    transition: all 300ms ease-in;
    }


  .pb100 {
    padding-bottom: 100px;
    }

  .pt100 {
    padding-top: 100px;
    }
